@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


#container-1 {
    width: 560px;
    height: 120px;
    background-color: #daecff;
    border-radius: 10px;
    z-index: 1;
}

#container-2 {
    width: 560px;
    height: 120px;
    background-color: #daecff;
    border-radius: 10px;
}

#container-3 {
    width: 560px;
    height: 120px;
    background-color: #daecff;
    border-radius: 10px;
}

#container-4 {
    width: 560px;
    height: 120px;
    background-color: #daecff;
    border-radius: 10px;
}

#blank-space-1 {
    width: 560px;
    height: 15px
}

#blank-space-2 {
    width: 560px;
    height: 15px
}

#blank-space-3 {
    width: 560px;
    height: 15px
}

#origin {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
}

#flight-origin {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#flight-destination {
    position: absolute;
    top: 75px;
    left: 20px;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#destination {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
}

#budget-input {
    position: absolute;
    top: 190px;
    left: 20px;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#budget {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
}

#expected-time {
    position: absolute;
    top: 330px;
    left: 20px;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#time {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
}

#luggage-count {
    position: absolute;
    top: 465px;
    left: 20px;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#luggage {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
}

#search-button {
    background-color: #1d3461;
    color: #daecff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; 
    font-size: 16px; 
}

#output-1 {
    width: 650px;
    height: 175px;
    background-color: #daecff;
    border-radius: 10px;
    position: absolute;
    left: 600px;
    top: 10px;
}

#output-2 {
    width: 650px;
    height: 175px;
    background-color: #daecff;
    border-radius: 10px;
    left: 600px;
    position: absolute;
    top: 195px;
}

#output-3 {
    width: 650px;
    height: 175px;
    background-color: #daecff;
    border-radius: 10px;
    position: absolute;
    top: 380px;
    left: 600px;
}

#blank-space-4 {
    width: 650px;
    height: 10px;
    border-radius: 10px;
    left: 600px;
    position: absolute;
    top: 185px;
}

#blank-space-5 {
    width: 650px;
    height: 10px;
    border-radius: 10px;
    left: 600px;
    position: absolute;
    top: 370px;
}

#image-1 {
    height: 175px;
    width: 250px;
    background-color: gray;
    
}

#image-2 {
    height: 175px;
    width: 250px;
    background-color: gray;
    
}

#image-3 {
    height: 175px;
    width: 250px;
    background-color: gray;
    
}

#location-output {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#location-output-response {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#budget-output {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#budget-output-response {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#estimated-time-output {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#estimated-time-output-response {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#best-route-output {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#best-route-output-response {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#location-output-2 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#location-output-response-2 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#budget-output-2 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#budget-output-response-2 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#estimated-time-output-2 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#estimated-time-output-response-2 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#best-route-output-2 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#best-route-output-response-2 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#location-output-3 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#location-output-response-3 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#budget-output-3 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#budget-output-response-3 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#estimated-time-output-3 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#estimated-time-output-response-3 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#best-route-output-3 {
    position: absolute;
    right: -265px;
    top: -150px;
    position: relative;
    font-size: 24px;
    color: #1d3461;
    font-family: Inter;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#best-route-output-response-3 {
    font-size: 24px;
    color: #376996;
    font-family: Inter;
    font-weight: bold;
    text-shadow: none;
}

#airplane {
    width: 35px;
    height: 35px;;
    top: 537px;
    left: 110px;
    position: absolute;
}